.top-bar {
   -fx-background-color: #e7e5ff;
}

.math-button {
    -fx-background-radius: 30;
    -fx-border-radius: 30;
   -fx-background-color: #ffffff;
    -fx-text-fill: #6e6eff;
}
.math-button:hover {
    -fx-background-color: grey;
    -fx-text-fill: #6e6eff;
}

.english-button {
    -fx-background-radius: 30;
    -fx-border-radius: 30;
  -fx-background-color: #ffffff;
    -fx-text-fill: #ff0835;
}
.english-button:hover {
    -fx-background-color: #ff0835;
    -fx-text-fill: #ffffff;
}

.history-button {
    -fx-background-radius: 30;
    -fx-border-radius: 30;
  -fx-background-color: #ffffff;
    -fx-text-fill: #ffc800;
}
.history-button:hover {
    -fx-background-color: #ffc800;
    -fx-text-fill: #ffffff;
}

.science-button {
    -fx-background-radius: 30;
    -fx-border-radius: 30;
  -fx-background-color: #ffffff;
    -fx-text-fill: #00ff6a;
}
.science-button:hover {
    -fx-background-color: #00ff6a;
    -fx-text-fill: #ffffff;
}
.color-rectangle {
    -fx-fill: url("tester.png");
}
.box1 {
    -fx-fill: url("math1.png");
}
.box2 {
    -fx-fill: url("math2.png");
}
.Landing-buttons {
    -fx-background-radius: 30;
    -fx-border-radius: 30;
}